{% extends 'base.html.twig' %}

{% block title %}Ju-Jitsu - Lille Judo{% endblock %}

{% block stylesheets %}
    <style>
        .iframe-outer, .iframe-inner {
            height: 300px;
            width: 300px;
        }
        .iframe-outer {
            display: inline-block;
            position: relative;
        }
        .iframe-inner {
            overflow: hidden;
            border-radius: 5000px;
            position: absolute;
        }
        .iframe-inner iframe {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <strong>Attention!</strong> Cette page est encore en construction.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <ul class="nav nav-tabs flex-column flex-lg-row" id="jujitsuTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="histoireValeurs-tab" data-toggle="tab" href="#histoireValeurs" aria-controls="histoireValeurs" aria-selected="true">Histoire et Valeurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cours-tab" data-toggle="tab" href="#cours" aria-controls="cours" aria-selected="false">Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="adhésion-tab" data-toggle="tab" href="#adhésion" aria-controls="adhésion" aria-selected="false">Adhésion</a>
            </li>
        </ul>
        <div class="tab-content" id="jujitsuTabContent">
            <div class="tab-pane fade show active" id="histoireValeurs" role="tabpanel" aria-labelledby="histoireValeurs-tab">
                <h3>Histoire et Valeurs</h3>
            </div>
            <div class="tab-pane fade" id="cours" role="tabpanel" aria-labelledby="cours-tab">
                <ul class="nav nav-tabs flex-column flex-lg-row" id="coursJuJitsuTab" role="tablist">
                    {% if first %}
                    <li class="nav-item">
                        <a class="nav-item nav-link active" id="{{ first.id }}-tab" data-toggle="tab" href="#{{ first.id }}" aria-controls="{{ first.id }}" aria-selected="true">{{ first.categorie }}</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link active" id="none-tab" data-toggle="tab" href="#none" aria-controls="non" aria-selected="true">none</a>
                        </li>
                    {% endif %}
                    {% for jujitsu in jujitsus %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="{{ jujitsu.id }}-tab" data-toggle="tab" href="#{{ jujitsu.id }}" aria-controls="{{ jujitsu.id }}" aria-selected="false">{{ jujitsu.categorie }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="coursJuJitsuTabContent">
                    {% if first %}
                    <div id="{{ first.id }}" class="tab-pane fade show active" role="tabpanel" aria-labelledby="{{ first.id }}-tab">
                        <h3>{{ first.categorie }} - {{ first.annee }}</h3>
                        <p>
                            {{ first.texte|raw }}
                        </p>
                    </div>
                    {% else %}
                        <div id="none" class="tab-pane fade show active" role="tabpanel" aria-labelledby="none-tab">
                            <p>
                                no records found
                            </p>
                        </div>
                    {% endif %}
                    {% for jujitsu in jujitsus %}
                        <div id="{{ jujitsu.id }}" class="tab-pane fade" role="tabpanel" aria-labelledby="{{ jujitsu.id }}-tab">
                            <h3>{{ jujitsu.categorie }} - {{ jujitsu.annee }}</h3>
                            <p>
                                {{ jujitsu.texte|raw }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="container">
                    <div class="row text-center justify-content-center">
                        <div class="col my-auto">
                            <h2>SALLES DE SPORT C.O.S.E.C</h2>
                            <div class="iframe-outer">
                                <div class="iframe-inner">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10128.551076061387!2d3.1449705!3d50.6059775!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe5990a0bf9562e04!2sSALLES%20DE%20SPORT%20C.O.S.E.C!5e0!3m2!1sfr!2sfr!4v1600345049264!5m2!1sfr!2sfr"
                                            class="embed-responsive-item"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <h2>Université de Lille - Campus Cité scientifique</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="adhésion" role="tabpanel" aria-labelledby="adhésion-tab">
                <h3>Inscription</h3>
                <a href="{{ path('downloadInscription') }}" target="_blank">Fiche d'inscription</a>
            </div>
        </div>
    </div>
{% endblock %}
