{% extends 'base.html.twig' %}

{% block title %}Ne-Waza - Lille Judo{% endblock %}

{% block stylesheets %}
    <style>
        .iframe-outer, .iframe-inner {
            height: 300px;
            width: 300px;
        }
        .iframe-outer {
            display: inline-block;
            position: relative;
        }
        .iframe-inner {
            overflow: hidden;
            border-radius: 5000px;
            position: absolute;
        }
        .iframe-inner iframe {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs flex-column flex-lg-row" id="newazaTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="histoireValeurs-tab" data-toggle="tab" href="#histoireValeurs" aria-controls="histoireValeurs" aria-selected="true">Histoire et Valeurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cours-tab" data-toggle="tab" href="#cours" aria-controls="cours" aria-selected="false">Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="adhésion-tab" data-toggle="tab" href="#adhésion" aria-controls="adhésion" aria-selected="false">Adhésion</a>
            </li>
        </ul>
        <div class="tab-content" id="newazaTabContent">
            <div class="tab-pane fade show active" id="histoireValeurs" role="tabpanel" aria-labelledby="histoireValeurs-tab">
                <h3>Histoire et Valeurs</h3>
                <p>
                    Le <b>Ne-Waza</b> (en japonais : 寝技 de "Ne" qui signifie couché et "Waza" qui signifie technique) est un terme japonais utilisé
                    dans le judo et le ju-jitsu et qui sert à désigner des <b>techniques au sol</b>, et plus généralement désignant tout le domaine du combat au sol.
                </p>
                <p>
                    Lors du ne waza, les deux combattants sont au sol en règle générale, ils ont à leur disposition différentes techniques :
                </p>
                <ul>
                    <li>
                        Les <b>katame waza</b> (techniques de contrôles) pour contrôler l'adversaire et prendre une position dominante.
                    </li>
                    <li>
                        Les <b>shime waza</b> (techniques d'étranglements) qui permettent de faire abandonner l'adversaire en comprimant soit
                        les voies aériennes (trachée) soit sanguines (carotides)
                    </li>
                    <li>
                        Les <b>kantetsu waza</b> (techniques de luxations), qui permettent par des clés ou luxations de mettre en hyperextension une
                        articulation quelconque et de provoquer l'abandon de l'adversaire.
                    </li>
                </ul>
                <p>
                    Si les Osaekomi-Waza s'effectuent toujours au sol (Ne-Waza), les Kansetsu-Waza et les Shime-Waza peuvent
                    également s'effectuer debout (Tachi-Waza).
                </p>
                <p>
                    Le Ne-Waza est une discipline de combat spécifiquement longue à maîtriser, les débutants utilisant énormément
                    de force et d'énergie en vain et les progrès se faisant lentement.
                </p>
                <h3>
                    Une discipline ouverte à tous
                </h3>
                <p>
                    Toutes les techniques sont bien sûr enseignées en fonction du niveau des élèves et les possibilités sont tellement nombreuses
                    en Ne-waza qu’il existe forcément un cours adapté à votre niveau de connaissances, votre condition physique et vos envies.
                </p>
                <h4 class="text-center">
                    <b>
                        <u>
                            AUCUNE EXCUSE DONC, A VOUS D’ESSAYER
                        </u>
                    </b>
                </h4>
                <div class="text-center">
                    <img src="{{ asset('assets/newaza-image.jpeg') }}" class="img-fluid">
                </div>
            </div>
            <div class="tab-pane fade" id="cours" role="tabpanel" aria-labelledby="cours-tab">
                <ul class="nav nav-tabs flex-column flex-lg-row" id="coursNeWazaTab" role="tablist">
                    {% if first %}
                        <li class="nav-item">
                            <a class="nav-item nav-link active" id="{{ first.id }}-tab" data-toggle="tab" href="#{{ first.id }}" aria-controls="{{ first.id }}" aria-selected="true">{{ first.categorie }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link active" id="none-tab" data-toggle="tab" href="#none" aria-controls="non" aria-selected="true">none</a>
                        </li>
                    {% endif %}
                    {% for newaza in newazas %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="{{ newaza.id }}-tab" data-toggle="tab" href="#{{ newaza.id }}" aria-controls="{{ newaza.id }}" aria-selected="false">{{ newaza.categorie }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="coursNeWazaTabContent">
                    {% if first %}
                        <div id="{{ first.id }}" class="tab-pane fade show active" role="tabpanel" aria-labelledby="{{ first.id }}-tab">
                            <h3>{{ first.categorie }} - {{ first.annee }}</h3>
                            <p>
                                {{ first.texte|raw }}
                            </p>
                        </div>
                    {% else %}
                        <div id="none" class="tab-pane fade show active" role="tabpanel" aria-labelledby="none-tab">
                            <p>
                                no records found
                            </p>
                        </div>
                    {% endif %}
                    {% for newaza in newazas %}
                        <div id="{{ newaza.id }}" class="tab-pane fade" role="tabpanel" aria-labelledby="{{ newaza.id }}-tab">
                            <h3>{{ newaza.categorie }} - {{ newaza.annee }}</h3>
                            <p>
                                {{ newaza.texte|raw }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="container">
                    <div class="row text-center justify-content-center">
                        <div class="col my-auto">
                            <h2>SALLE DEFAUCOMPRET</h2>
                            <div class="iframe-outer">
                                <div class="iframe-inner">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d894.800914630943!2d3.0873630056344954!3d50.62936125849722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5faea376d7d%3A0x4f55bddb5cd9f71d!2sEspace%20Sportif%20Defaucompret!5e0!3m2!1sfr!2sfr!4v1595857882269!5m2!1sfr!2sfr"
                                            class="embed-responsive-item"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <h2>72-74 rue du Long Pot - Lille</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="adhésion" role="tabpanel" aria-labelledby="adhésion-tab">
                <h3>Inscription</h3>
                <a href="{{ path('downloadInscription') }}" target="_blank">Fiche d'inscription</a>
            </div>
        </div>
    </div>
{% endblock %}
