{% extends 'base.html.twig' %}

{% block title %}Ne-Waza - Lille Judo{% endblock %}

{% block stylesheets %}
    <style>
        .iframe-outer, .iframe-inner {
            height: 300px;
            width: 300px;
        }
        .iframe-outer {
            display: inline-block;
            position: relative;
        }
        .iframe-inner {
            overflow: hidden;
            border-radius: 5000px;
            position: absolute;
        }
        .iframe-inner iframe {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs flex-column flex-lg-row" id="newazaTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="histoireValeurs-tab" data-toggle="tab" href="#histoireValeurs" aria-controls="histoireValeurs" aria-selected="true">Histoire et Valeurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cours-tab" data-toggle="tab" href="#cours" aria-controls="cours" aria-selected="false">Cours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="adhésion-tab" data-toggle="tab" href="#adhésion" aria-controls="adhésion" aria-selected="false">Adhésion</a>
            </li>
        </ul>
        <div class="tab-content" id="newazaTabContent">
            <div class="tab-pane fade show active" id="histoireValeurs" role="tabpanel" aria-labelledby="histoireValeurs-tab">
                <h3>Histoire et Valeurs</h3>
            </div>
            <div class="tab-pane fade" id="cours" role="tabpanel" aria-labelledby="cours-tab">
                <ul class="nav nav-tabs flex-column flex-lg-row" id="coursNeWazaTab" role="tablist">
                    {% if first %}
                        <li class="nav-item">
                            <a class="nav-item nav-link active" id="{{ first.id }}-tab" data-toggle="tab" href="#{{ first.id }}" aria-controls="{{ first.id }}" aria-selected="true">{{ first.categorie }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-item nav-link active" id="none-tab" data-toggle="tab" href="#none" aria-controls="non" aria-selected="true">none</a>
                        </li>
                    {% endif %}
                    {% for newaza in newazas %}
                        <li class="nav-item">
                            <a class="nav-item nav-link" id="{{ newaza.id }}-tab" data-toggle="tab" href="#{{ newaza.id }}" aria-controls="{{ newaza.id }}" aria-selected="false">{{ newaza.categorie }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="coursNeWazaTabContent">
                    {% if first %}
                        <div id="{{ first.id }}" class="tab-pane fade show active" role="tabpanel" aria-labelledby="{{ first.id }}-tab">
                            <h3>{{ first.categorie }} - {{ first.annee }}</h3>
                            <p>
                                {{ first.texte|raw }}
                            </p>
                        </div>
                    {% else %}
                        <div id="none" class="tab-pane fade show active" role="tabpanel" aria-labelledby="none-tab">
                            <p>
                                no records found
                            </p>
                        </div>
                    {% endif %}
                    {% for newaza in newazas %}
                        <div id="{{ newaza.id }}" class="tab-pane fade" role="tabpanel" aria-labelledby="{{ newaza.id }}-tab">
                            <h3>{{ newaza.categorie }} - {{ newaza.annee }}</h3>
                            <p>
                                {{ newaza.texte|raw }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
                <div class="container">
                    <div class="row text-center justify-content-center">
                        <div class="col my-auto">
                            <h2>SALLE DEFAUCOMPRET</h2>
                            <div class="iframe-outer">
                                <div class="iframe-inner">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d894.800914630943!2d3.0873630056344954!3d50.62936125849722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5faea376d7d%3A0x4f55bddb5cd9f71d!2sEspace%20Sportif%20Defaucompret!5e0!3m2!1sfr!2sfr!4v1595857882269!5m2!1sfr!2sfr"
                                            class="embed-responsive-item"
                                            allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            <h2>72-74 rue du Long Pot - Lille</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="adhésion" role="tabpanel" aria-labelledby="adhésion-tab">
                <h3>Inscription</h3>
                <a href="{{ path('downloadInscription') }}" target="_blank">Fiche d'inscription</a>
            </div>
        </div>
    </div>
{% endblock %}
