{% extends 'base.html.twig' %}

{% block title %}Accueil - Lille Judo{% endblock %}
{% block stylesheets %}
    <style>
        .iframe-outer, .iframe-inner {
            height: 200px;
            width: 200px;
        }
        .iframe-outer {
            display: inline-block;
            position: relative;
        }
        .iframe-inner {
            overflow: hidden;
            border-radius: 5000px;
            position: absolute;
        }
        .iframe-inner iframe {
            height: 100%;
            width: 100%;
        }

        .carousel-inner > .carousel-item {
            height: 65vh;
        }
        .carousel-inner-little > .carousel-item {
            height: 32vh;
        }
        .carousel-inner > .carousel-item > a > img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            max-height: 800px;
            width: auto;
        }
        .carousel-inner-little > .carousel-item > a > img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            max-height: 220px;
            object-fit: scale-down;
            width: auto;
        }
        .carousel-control-prev-icon, .carousel-control-next-icon {
             height: 100px;
             width: 100px;
             outline: black;
             background-size: 100%, 100%;
             border-radius: 50%;
             background-image: none;
         }
        .carousel-control-next-icon:after {
            content: '>';
            font-size: 55px;
            color: #A93514;
        }
        .carousel-control-prev-icon:after {
            content: '<';
            font-size: 55px;
            color: #A93514;
        }

        @media screen and (max-width:767px) {
            .carousel-title {
                font-size: 100%;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row text-center justify-content-center">
            <div class="col-xl my-auto order-2 order-xl-1 d-none d-md-block">
                <h2>SALLE DEBEYRE</h2>
                <div class="iframe-outer">
                    <div class="iframe-inner">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.75805227567!2d3.071911315859676!3d50.63161128217546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d58ccd84a095%3A0x2bf07e00b55a0265!2sSalle%20Debeyre!5e0!3m2!1sfr!2sfr!4v1595951862220!5m2!1sfr!2sfr"
                                class="embed-responsive-item"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <h2>156 rue Charles Debierre - Lille</h2>
            </div>
            <div class="col-xl-6 order-1 order-xl-2">
                <div id="carouselAcceuilPosts" class="carousel slide d-none d-md-block" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselAcceuilPosts" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselAcceuilPosts" data-slide-to="1"></li>
                        <li data-target="#carouselAcceuilPosts" data-slide-to="2"></li>
                        <li data-target="#carouselAcceuilPosts" data-slide-to="3"></li>
                        <li data-target="#carouselAcceuilPosts" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner" style="background: #A93514">
                        <div class="carousel-item active">
                            {% if first.images.count and firstType == 'Club' %}
                                <a href="{{ path('actualites-club_show', {'id': first.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/club/') }}{{ first.images[0].image }}"
                                         alt="">
                                </a>
                            {% elseif first.images.count and firstType == 'Natio' %}
                                <a href="{{ path('actualites-nationale-internationale_show', {'id': first.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/natio/') }}{{ first.images[0].image }}"
                                         alt="">
                                </a>
                            {% else %}
                                {% if firstType == 'Club' %}
                                    <a href="{{ path('actualites-club_show', {'id': first.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ first.title }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <a href="{{ path('actualites-nationale-internationale_show', {'id': first.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ first.title }}"
                                             alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">{{ first.title }}</h1>
                            </div>
                        </div>
                        <div class="carousel-item">
                            {% if second.images.count and secondType == 'Club' %}
                                <a href="{{ path('actualites-club_show', {'id': second.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/club/') }}{{ second.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% elseif second.images.count and secondType == 'Natio' %}
                                <a href="{{ path('actualites-nationale-internationale_show', {'id': second.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/natio/') }}{{ second.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% else %}
                                {% if secondType == 'Club' %}
                                    <a href="{{ path('actualites-club_show', {'id': second.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ second.title }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <a href="{{ path('actualites-nationale-internationale_show', {'id': second.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ second.title }}"
                                             alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">{{ second.title }}</h1>
                            </div>
                        </div>
                        <div class="carousel-item">
                            {% if third.images.count and thirdType == 'Club' %}
                                <a href="{{ path('actualites-club_show', {'id': third.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/club/') }}{{ third.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% elseif third.images.count and thirdType == 'Natio' %}
                                <a href="{{ path('actualites-nationale-internationale_show', {'id': third.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/natio/') }}{{ third.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% else %}
                                {% if thirdType == 'Club' %}
                                    <a href="{{ path('actualites-club_show', {'id': third.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ third.title }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <a href="{{ path('actualites-nationale-internationale_show', {'id': third.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ third.title }}"
                                             alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">{{ third.title }}</h1>
                            </div>
                        </div>
                        <div class="carousel-item">
                            {% if fourth.images.count and fourthType == 'Club' %}
                                <a href="{{ path('actualites-club_show', {'id': fourth.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/club/') }}{{ fourth.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% elseif fourth.images.count and fourthType == 'Natio' %}
                                <a href="{{ path('actualites-nationale-internationale_show', {'id': fourth.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/natio/') }}{{ fourth.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% else %}
                                {% if fourthType == 'Club' %}
                                    <a href="{{ path('actualites-club_show', {'id': fourth.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ fourth.title }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <a href="{{ path('actualites-nationale-internationale_show', {'id': fourth.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ fourth.title }}"
                                             alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">{{ fourth.title }}</h1>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <a href="{{ path('calendrier') }}">
                                <img class="d-block w-100"
                                     src="{{ asset('assets/calendrier.jpg') }}"
                                     alt="">
                            </a>
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">Calendrier</h1>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselAcceuilPosts" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselAcceuilPosts" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div id="carouselAcceuilPosts2" class="carousel slide d-block d-md-none" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselAcceuilPosts2" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselAcceuilPosts2" data-slide-to="1"></li>
                        <li data-target="#carouselAcceuilPosts2" data-slide-to="2"></li>
                        <li data-target="#carouselAcceuilPosts2" data-slide-to="3"></li>
                        <li data-target="#carouselAcceuilPosts2" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner-little" style="background: #A93514">
                        <div class="carousel-item active">
                            {% if first.images.count and firstType == 'Club' %}
                                <a href="{{ path('actualites-club_show', {'id': first.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/club/') }}{{ first.images[0].image }}"
                                         alt="">
                                </a>
                            {% elseif first.images.count and firstType == 'Natio' %}
                                <a href="{{ path('actualites-nationale-internationale_show', {'id': first.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/natio/') }}{{ first.images[0].image }}"
                                         alt="">
                                </a>
                            {% else %}
                                {% if firstType == 'Club' %}
                                    <a href="{{ path('actualites-club_show', {'id': first.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ first.title }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <a href="{{ path('actualites-nationale-internationale_show', {'id': first.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ first.title }}"
                                             alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">{{ first.title }}</h1>
                            </div>
                        </div>
                        <div class="carousel-item">
                            {% if second.images.count and secondType == 'Club' %}
                                <a href="{{ path('actualites-club_show', {'id': second.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/club/') }}{{ second.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% elseif second.images.count and secondType == 'Natio' %}
                                <a href="{{ path('actualites-nationale-internationale_show', {'id': second.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/natio/') }}{{ second.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% else %}
                                {% if secondType == 'Club' %}
                                    <a href="{{ path('actualites-club_show', {'id': second.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ second.title }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <a href="{{ path('actualites-nationale-internationale_show', {'id': second.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ second.title }}"
                                             alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">{{ second.title }}</h1>
                            </div>
                        </div>
                        <div class="carousel-item">
                            {% if third.images.count and thirdType == 'Club' %}
                                <a href="{{ path('actualites-club_show', {'id': third.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/club/') }}{{ third.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% elseif third.images.count and thirdType == 'Natio' %}
                                <a href="{{ path('actualites-nationale-internationale_show', {'id': third.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/natio/') }}{{ third.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% else %}
                                {% if thirdType == 'Club' %}
                                    <a href="{{ path('actualites-club_show', {'id': third.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ third.title }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <a href="{{ path('actualites-nationale-internationale_show', {'id': third.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ third.title }}"
                                             alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">{{ third.title }}</h1>
                            </div>
                        </div>
                        <div class="carousel-item">
                            {% if fourth.images.count and fourthType == 'Club' %}
                                <a href="{{ path('actualites-club_show', {'id': fourth.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/club/') }}{{ fourth.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% elseif fourth.images.count and fourthType == 'Natio' %}
                                <a href="{{ path('actualites-nationale-internationale_show', {'id': fourth.id}) }}">
                                    <img class="d-block w-100"
                                         src="{{ asset('uploads/natio/') }}{{ fourth.getImages()[0].image }}"
                                         alt="">
                                </a>
                            {% else %}
                                {% if fourthType == 'Club' %}
                                    <a href="{{ path('actualites-club_show', {'id': fourth.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ fourth.title }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <a href="{{ path('actualites-nationale-internationale_show', {'id': fourth.id}) }}">
                                        <img class="d-block w-100"
                                             src="https://dummyimage.com/600x400/8f8f8f/ffffff&text={{ fourth.title }}"
                                             alt="">
                                    </a>
                                {% endif %}
                            {% endif %}
                            <div class="carousel-caption">
                                <h1 class="text-dark carousel-title" style="background: white">{{ fourth.title }}</h1>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <a href="{{ path('calendrier') }}">
                                <img class="d-block w-100"
                                     src="{{ asset('assets/calendrier.jpg') }}"
                                     alt="">
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselAcceuilPosts2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselAcceuilPosts2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-xl my-auto order-3 d-none d-md-block">
                <h2>SALLE DEFAUCOMPRET</h2>
                <div class="iframe-outer">
                    <div class="iframe-inner">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d894.800914630943!2d3.0873630056344954!3d50.62936125849722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5faea376d7d%3A0x4f55bddb5cd9f71d!2sEspace%20Sportif%20Defaucompret!5e0!3m2!1sfr!2sfr!4v1595857882269!5m2!1sfr!2sfr"
                                class="embed-responsive-item"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <h2>72-74 rue du Long Pot - Lille</h2>
            </div>
        </div>
        <div class="row text-center d-block d-md-none">
            <div class="col my-auto">
                <h2>SALLE DEBEYRE</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.75805227567!2d3.071911315859676!3d50.63161128217546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d58ccd84a095%3A0x2bf07e00b55a0265!2sSalle%20Debeyre!5e0!3m2!1sfr!2sfr!4v1595951862220!5m2!1sfr!2sfr"
                        frameborder="0"
                        width="100%"
                        height="300"
                        allowfullscreen>
                </iframe>
                <h2>156 rue Charles Debierre - Lille</h2>
            </div>
            <hr style="border: 1px solid #A93514"/>
            <div class="col my-auto">
                <h2>SALLE DEFAUCOMPRET</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d894.800914630943!2d3.0873630056344954!3d50.62936125849722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5faea376d7d%3A0x4f55bddb5cd9f71d!2sEspace%20Sportif%20Defaucompret!5e0!3m2!1sfr!2sfr!4v1595857882269!5m2!1sfr!2sfr"
                        frameborder="0"
                        width="100%"
                        height="300"
                        allowfullscreen>
                </iframe>
                <h2>72-74 rue du Long Pot - Lille</h2>
            </div>
        </div>
    </div>
{% endblock %}
