{% extends 'base.html.twig' %}

{% block title %}Boutique - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger text-center" role="alert">
            Pour tout achat, veuillez contacter votre enseignant, muni de votre <strong><a href="{{ path('boutiqueDocument') }}">bon de commande</a></strong>.
        </div>
        <h2 class="text-center">
            Télécharger le bon de commande <strong><a href="{{ path('boutiqueDocument') }}" target="_blank">ici</a></strong>
        </h2>
        <div class="row text-center justify-content-center">
            {% for boutique in boutiques %}
                <div class="col-lg-4 col-md-4">
                    <a href="{{ asset('uploads/boutique/') }}{{ boutique.image }}" data-toggle="lightbox">
                        <img class="img-fluid img-thumbnail"
                             src="{{ asset('uploads/boutique/') }}{{ boutique.image }}"
                             alt="">
                    </a>
                    <p><strong>{{ boutique.objet }}</strong></p>
                    <p>
                        {{ boutique.prix }}€
                    </p>
                </div>
            {% else %}
                <div class="col-lg-4">
                    <img class="img-fluid img-thumbnail"
                         src="http://placehold.it/140x140"
                         alt="">
                    <p>
                        no records found
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
{% endblock %}