<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <style>
            .dropdown:hover .dropdown-menu{
                display: block;
            }
            .page-footer {
                background: lightgray;
            }
            .navbar .navbar-nav {
                display: inline-block;
                float: none;
                vertical-align: top;
            }

            .navbar .navbar-collapse {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('acceuil') }}"><img src="assets/luc_logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="color: black; background: white" href="{{ path('acceuil') }}">
                            Accueil
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: black; background: yellow" id="navbarClubMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Club
                        </a>
                        <div class="dropdown-menu" style="background: yellow" aria-labelledby="navbarClubMenuLink">
                            <a class="dropdown-item" href="{{ path('histoire') }}">Histoire</a>
                            <a class="dropdown-item" href="{{ path('enseignants') }}">Les Enseignants</a>
                            <a class="dropdown-item" href="{{ path('bureau') }}">Bureau</a>
                            <a class="dropdown-item" href="{{ path('contact') }}">Contact</a>
                            <a class="dropdown-item" href="{{ path('dojo') }}">Dojo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: black; background: orange" id="navbarDisciplinesMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Disciplines
                        </a>
                        <div class="dropdown-menu" style="background: orange" aria-labelledby="navbarDisciplinesMenuLink">
                            <a class="dropdown-item" href="{{ path('judo') }}">Judo</a>
                            <a class="dropdown-item" href="{{ path('ju-jitsu') }}">Ju Jitsu</a>
                            <a class="dropdown-item" href="{{ path('taiso') }}">Taiso</a>
                            <a class="dropdown-item" href="{{ path('ne-waza') }}">Ne Waza</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: black; background: green" id="navbarInscriptionMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inscription
                        </a>
                        <div class="dropdown-menu" style="background: green" aria-labelledby="navbarInscriptionMenuLink">
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: black; background: blue" id="navbarActualitesMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actualités
                        </a>
                        <div class="dropdown-menu" style="background: blue" aria-labelledby="navbarActualitesMenuLink">
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: black; background: saddlebrown" href="{{ path('documents') }}">
                            Documents
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer class="page-footer font-small stylish-color-dark pt-4 fixed-bottom">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
                        <p>
                            Ceci est un exemple pour voir le rendu si un texte est ajouté ici.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.
                        </p>
                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-2 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Disciplines</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{{ path('judo') }}">Judo</a>
                            </li>
                            <li>
                                <a href="{{ path('ju-jitsu') }}">Ju Jitsu</a>
                            </li>
                            <li>
                                <a href="{{ path('taiso') }}">Taiso</a>
                            </li>
                            <li>
                                <a href="{{ path('ne-waza') }}">Ne Waza</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-2 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Contact 1</a>
                            </li>
                            <li>
                                <a href="#">Contact 2</a>
                            </li>
                            <li>
                                <a href="#">Contact 3</a>
                            </li>
                            <li>
                                <a href="#">Contact 4</a>
                            </li>
                        </ul>

                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-2 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Sponsors</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">Sponsor 1</a>
                            </li>
                            <li>
                                <a href="#">Sponsor 2</a>
                            </li>
                            <li>
                                <a href="#">Sponsor 3</a>
                            </li>
                            <li>
                                <a href="#">Sponsor 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center py-3">© 2020 Copyright:
                <a href="https://mathiastop.eu"> Mathias Top</a>
            </div>
        </footer>
    </body>
</html>
