{% extends 'base.html.twig' %}

{% block title %}Dojo - Lille Judo{% endblock %}

{% block stylesheets %}
    <style>
        .iframe-outer, .iframe-inner {
            height: 300px;
            width: 300px;
        }
        .iframe-outer {
            display: inline-block;
            position: relative;
        }
        .iframe-inner {
            overflow: hidden;
            border-radius: 5000px;
            position: absolute;
        }
        .iframe-inner iframe {
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <ul class="nav nav-tabs flex-column flex-lg-row" id="dojoTab" role="tablist">
            {% if first %}
                <li class="nav-item">
                    <a class="nav-item nav-link active" id="{{ first.id }}-tab" data-toggle="tab" href="#{{ first.id }}" aria-controls="{{ first.id }}" aria-selected="true">{{ first.categorie }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-item nav-link active" id="none-tab" data-toggle="tab" href="#none" aria-controls="non" aria-selected="true">none</a>
                </li>
            {% endif %}
            {% for dojo in dojos %}
                <li class="nav-item">
                    <a class="nav-item nav-link" id="{{ dojo.id }}-tab" data-toggle="tab" href="#{{ dojo.id }}" aria-controls="{{ dojo.id }}" aria-selected="false">{{ dojo.categorie }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="dojoTabContent">
            {% if first %}
                <div id="{{ first.id }}" class="tab-pane fade show active" role="tabpanel" aria-labelledby="{{ first.id }}-tab">
                    <h3>{{ first.categorie }} - {{ first.annee }}</h3>
                    <p>
                        {{ first.texte|raw }}
                    </p>
                </div>
            {% else %}
                <div id="none" class="tab-pane fade show active" role="tabpanel" aria-labelledby="none-tab">
                    <p>
                        no records found
                    </p>
                </div>
            {% endif %}
            {% for dojo in dojos %}
                <div id="{{ dojo.id }}" class="tab-pane fade" role="tabpanel" aria-labelledby="{{ dojo.id }}-tab">
                    <h3>{{ dojo.categorie }} - {{ dojo.annee }}</h3>
                    <p>
                        {{ dojo.texte|raw }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col my-auto">
                <h2>SALLE DEBEYRE</h2>
                <div class="iframe-outer">
                    <div class="iframe-inner">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.75805227567!2d3.071911315859676!3d50.63161128217546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d58ccd84a095%3A0x2bf07e00b55a0265!2sSalle%20Debeyre!5e0!3m2!1sfr!2sfr!4v1595951862220!5m2!1sfr!2sfr"
                                class="embed-responsive-item"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <h2>156 rue Charles Debierre - Lille</h2>
            </div>
            <div class="col my-auto">
                <h2>SALLE DEFAUCOMPRET</h2>
                <div class="iframe-outer">
                    <div class="iframe-inner">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d894.800914630943!2d3.0873630056344954!3d50.62936125849722!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5faea376d7d%3A0x4f55bddb5cd9f71d!2sEspace%20Sportif%20Defaucompret!5e0!3m2!1sfr!2sfr!4v1595857882269!5m2!1sfr!2sfr"
                                class="embed-responsive-item"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <h2>72-74 rue du Long Pot - Lille</h2>
            </div>
        </div>
    </div>
{% endblock %}
