{% extends 'base.html.twig' %}

{% block title %}Enseignants - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center justify-content-center">
            {% for professeur in professeurs %}
                <div class="col-lg-4">
                    <a href="{{ path('enseignants_show', {'id': professeur.id}) }}">
                    {% if professeur.image %}
                        <img class="rounded-circle"
                             src="{{ asset('uploads/professeurs/') }}{{ professeur.image }}"
                             width="140"
                             height="140"
                             alt="">
                    {% else %}
                        <img class="rounded-circle"
                             src="https://placehold.it/140x140"
                             width="140"
                             height="140"
                             alt="">
                    {% endif %}
                    </a>
                    <p><strong>{{ professeur.role }}</strong></p>
                    <p>
                        {{ professeur.prenom }}
                        {{ professeur.nom }}
                        {{ professeur.grade }}
                        {{ professeur.diplome }}
                    </p>
                </div>
            {% else %}
                <div class="col-lg-4">
                    <img class="rounded-circle"
                         src="https://placehold.it/140x140"
                         width="140"
                         height="140"
                         alt="">
                    <p>
                        no records found
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
