{% extends 'base.html.twig' %}

{% block title %}Actualités - Lille Judo{% endblock %}

{% block body %}
    <div class="container">
        {% for post in posts %}
            <div class="row featurette">
                <div class="col-md-3">
                    {% if post.images.count %}
                        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                             src="{{ asset('uploads/natio/') }}{{ post.images[0].image }}" alt="">
                    {% endif%}
                </div>
                <div class="col-10 col-md-7 text-truncate">
                    <h2 class="featurette-heading">{{ post.title }}</h2>
                    <p class="lead">
                        {{ post.body|raw }}
                    </p>
                    <a href="{{ path('actualites-nationale-internationale_show', {'id': post.id}) }}">Voir l'article</a>
                </div>
            </div>
            <hr class="featurette-divider">
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        <div class="d-none d-md-block">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>
{% endblock %}
